$color-base: rgb(14, 42, 31);
$color-primary: rgb(42, 102, 52);
$color-secundary:#83bcd5;
$color-variant: rgb(0, 255, 211);
$color-variant-secundary:  #22A0A8;

$color-base-90:rgba(14, 42, 31, 0.9);

$color-primary-80:rgba(42, 102, 52, 0.8);

$font-primary: 'Cuprum';
$font-secundary: 'Karu';

$font-size-sm: 8px;
$font-size-xs: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xl-2: 48px;

$radius-header: 35px;